{{ define "main" }}

<article class="linknote">
  <header>
    <h1>{{ .Title }}</h1>
    <ul>
      <li>Posted by <strong>Matt</strong> (<a href="{{ .Permalink }}">Permalink</a>)</li>
      <li>Published on <time>{{ .PublishDate.Format "2 January 2006" }}</time></li>
 <li>Last edit: <a href="https://codeberg.org/mattjones/mattjon.es/commit/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a></li>
    </ul>
  </header>
  
  {{ if isset .Params "resources" }}
  {{ if $header := (.Resources.ByType "image").GetMatch "header" }}
  {{ $resource := $header }}
  {{if $header}}
  
  {{ partial "image.html" (dict "Image" $resource "Params" .Params) }}
  
  {{ end }}
  {{ end }}
  {{ end }}

  {{ .Content }}
  
  <footer>
    {{ partial "tags.html" .}}
  </footer>
<hr/>
</article>

<nav class="desktop">
  {{ $currentPage := . }}
  <ul>
{{ range .Site.Menus.main }}
<li><a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
{{ end }}
</ul>
</nav>

{{ end }}
