<article class="linknote">
  <header>
    <h1>{{ .Title }}</h1>
    <ul>
      <li>Posted by <strong>Matt</strong> (<a href="{{ .Permalink }}">Permalink</a>)</li>
      <li>Published on <time>{{ .PublishDate.Format "2 January 2006" }}</time></li>
 <li>Last edit: <a href="https://codeberg.org/mattjones/mattjon.es/commit/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a></li>
 
    </ul>
  </header>

  {{ if isset .Params "resources" }}
  {{ if $header := (.Resources.ByType "image").GetMatch "header" }}
  {{ $resource := $header }}
  {{if $header}}
  {{ partial "image.html" (dict "Image" $resource "Params" .Params) }}
  {{ end }}
  {{ end }}
  {{ end }}


  {{ .Summary }}

  <p><a href="{{ .Permalink }}">Continue reading &#x27F6;</a>

  <footer>
    {{ partial "tags.html" .}}
  </footer>
<hr/>
</article>
