@font-face {
    font-family: 'ibm-plex-regular';
    src: url('/fonts/ibmplexsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ibm-plex-semibold';
    src: url('/fonts/ibmplexsans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: Evolventa;
	src: url("/fonts/Evolventa-Regular.woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Evolventa;
	src: url("/fonts/Evolventa-Oblique.woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Evolventa;
	src: url("/fonts/Evolventa-Bold.woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Evolventa;
	src: url("/fonts/Evolventa-BoldOblique.woff");
	font-weight: bold;
	font-style: italic;
}



html {
    font-size:16px;
    box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: inherit;
}

body, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  width:100%;
  height: auto;
}


body {
    display:flex;
    margin: 0;
    padding:0 1rem 0;
    justify-content: flex-start;
    min-height: 100vh;
    flex-direction: column;
    width:auto;
    max-width: 60em;
    margin:2em auto;

}

main {
    flex:1;
}

img,
pre {
    max-width: 100%
}

a,
a:hover,
ins,
mark {

    text-decoration:none;
   
}

h3 + p > a {
    word-break:break-all;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box
}


abbr[title] {
    border-bottom: 0;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

img {
    border-style: none;
    height: auto
}

body,
button,
input,
optgroup,
select,
textarea,
blockquote {
    color: #040402;
    font-family: "Helvetica Neue", Helvetica, Arial, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "Nimbus Sans L", "Liberation Sans", Tahoma, Geneva, sans-serif;
    font-size: calc(16px + 4*(100vw/1500));
    line-height: 1.6
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family:"Evolventa";
    font-weight:bold;
    color:#222;
}

p,ul {
    margin-bottom: 1.1em;

                    
}

cite,
dfn,
em,
i {
    font-style: italic
}

blockquote {
    margin: 0 1.5em
}

address {
    margin: 0 0 1.5em
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: .9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    overflow: auto;
    padding: 1.6em
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: .9375rem
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help
}

ins,
mark {
    background: #fff9c0
}

big {
    font-size: 125%
}

*,
:after,
:before {
    box-sizing: inherit
}

hr {
    margin:2em 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

ul {
    list-style: disc;
    margin-left:2em;
}

nav ul {
    margin-left:1em;
    padding-left:1em;

}


ol {
    list-style: decimal
}

li>ol,
li>ul {
    margin-bottom: 0
}

dt {
    font-weight: 700
}

dd {
    margin: 0 1.5em 1.5em
}

table {
    margin: 0 0 1.5em;
    width: 100%
}



a:active,
a:focus,
a:hover {
    border-bottom-style: solid;
    border-bottom-color: inherit
}

a:focus {
    outline: dotted thin
}

#content[tabindex="-1"]:focus,
a:active,
a:hover {
    outline: 0
}

h1,
h2 {
    font-size: 2.25em;
    line-height: 1.3em;
    margin: 0 0 1em;
    color:#222;
}

h2 {
    font-size: 1.5em;
    
}

.fade {
    transition: opacity 0.5s ease-in;
  }
  
  .fadeOut { opacity: 0; }
  .fadeIn { opacity: 1; }

article {
    margin: 0 0 6rem;
    padding:0 0 3rem;
}

figure {
    margin: 2em 0;
}

header+figure {
    margin-top:1rem;
}

.tags {
    margin:4em 0 0 0;
    padding-left:0;
    font-size:80%;
}

.tags li {
    display:inline-block;   
}

.tags li + li::before {
    content: " / ";
}

figcaption {
    font-size:80%;
}

#caption {
    display:block;
}

#credit {
    display:block;
}

body>header {
    display: flex;
    width:auto;
    max-width: 60em;
    margin-bottom:4em;
   
    opacity:1;
    transition: opacity 0.5s ease-in;
}

body>header>h1 {
    margin: 0;
    line-height:1.5em;
    font-size: 1.2em
}

nav.main {

    margin-left: auto
}

nav#options ul {
    display:inline;
    margin:0;
    padding:0;
    list-style:none;
}

section>h1 {
    display: none
                 
}

aside.full {
    margin: 3em 0
}

aside.left {
    float: left;
    margin: 0 2em 1em 0;
    width: 28rem
}

aside.right {
    float: right;
    margin: 0 0rem 1rem 2rem;
    width: 28rem
}

aside>blockquote>p {
    font-size: 1.25em
}

aside>blockquote>cite {
    font-size: 1.1em
}

body>header>h1 {
    color: slategrey;
    margin-right: .5em
}

body>header>span {
    font-weight: 500
}

a {
    color: #0371cc;
}


article>header>ul {
    display:inline-block;
    font-size:80%;
    margin:0 0 4rem 0;
    padding-left:0;
    color:#666;
    list-style:none;
}

article>header>h1 {
    margin-bottom:0.2em;
}

article>header>ul>li {
    display:inline-block;
    margin-right:1em;
    color:rgb(90, 103, 116);
}


time {
    font-weight:bold;
}

body>footer {
    font-size:80%;
    padding-top:0.5em;
    color:#666;
}

body>footer p {
    margin:0;
}

body>footer #speed {
    display:block;
   margin-top:5rem;
}

.close {
    font-size:1.2em;
    line-height:0.5em;
}

a:hover .close {
    border-bottom:solid 0px;
}

.twitter-tweet {
    text-align:center;
    justify-content:center;
    margin:0 auto 0 auto;
}

.fadeup {
    transform: translateY(50px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
  }

  .in-view {
    transform: none;
    opacity: 1;
}

  nav.mob {
      display:block;
  }

  nav.desktop {
      display:none;
      margin-left:auto;
  }
  
@media all and (min-width:1024px) {

    nav.mob {
	display:none;
    }

    
    nav.desktop {
	display:block;
    }

    nav.desktop ul {
	list-style:none;
	display:flex;
	gap:2rem;
	margin-left:0;
	padding-left:0;
    }
    
    html {
        border:solid 1em gainsboro;
    }
    
    main {
        max-width:40em;
        margin:0 auto;
 
    }
    
    figure {
        margin: 4em -6em 3.5em -6em;
    }

    
    
    figcaption {
        display:flex;
    }
    
    #caption {
        display:inline;
        max-width:20em;
    }
    
    #credit {
        display:inline;
        margin-left:auto;
    }

    
    aside.full {
        margin: 3em -5em
    }
    
    aside.left {
        margin: 0 2em 1em -4em;
    }
    
    aside.right {
        margin: 0 -3rem 1rem 2rem;
    }
    
    aside>blockquote>p {
        font-size: 1.75em
    }

    body>footer {
        display:flex;
    }

    body>footer .vcard {
	width:26rem;
    }

    body>footer #speed {
        margin-top:0;
        margin-left:auto;
        align-self: flex-end;
        max-width:20em;
    }
}



