<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
          {{ if .IsHome }}

          {{ $.Site.Params.title }} | Home

          {{ else }}

          {{ $.Site.Params.title }} | {{ .Title }}
          
          {{ end }}
        </title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="author" content="@mattjones">
	<link rel="me" href="https://mastodon.mattjon.es/@matt"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ "css/style.css" | relURL }}" rel="stylesheet">
        {{ if .Params.canonicalUrl }}
        <link rel="canonical" href="https://mattjon.es{{ .Params.canonicalUrl }}">
        {{ else }}
        <link rel="canonical" href="https://mattjon.es{{ .RelPermalink }}">
        {{ end }}
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}     
    </head>

  <body>
    <header>
      <h1>{{ $.Site.Params.title }}</h1>

<!--      <nav id="options">
        <ul>
          {{ range .Site.Menus.options }}
          <li><a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
-->  
      <!--    <span>{{ $.Site.Params.description | safeHTML }}</span> -->
      
     <nav class="main mob"><a id="back-link" href="{{ "menu" | relURL }}">
          {{ if eq .Params.url "/menu/" }}
          <span class="close">&#10005;</span>
          {{ else }}
          menu
          {{ end }}
     </a></nav>

     <nav class="desktop">
       <ul>
	  {{ $currentPage := . }}
 
{{ range .Site.Menus.main }}
<li><a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
{{ end }}
</ul>
       </nav>
    </header>
    
    <main>
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    </main>

    <footer>
      <div class="h-card vcard">
        <h3>Who is this?</h3>
	<p>It's me, <a style="text-decoration: none" href={{ .Site.BaseURL }} class="p-name u-url url author metatag" rel="me">
	  {{ $.Site.Params.author }}
	  </a>. <span class="p-note">I'm a web developer based in the UK</span>. Email me at <a href="mailto:mail@mattjon.es" class="u-email">mail@mattjon.es</a> if you like. I'm social media free.
        </p>
</div>

      <span id="speed"><strong>No cookies. No tracking.</strong> This site is statically generated and uses <a href="/blog/2021/03/a-note-about-simplicity-privacy-and-this-website/">no tracking pixels or third-party services</a>.</span>
    </footer>
     <script>
window.onload = function () {
var loadTime = window.performance.timing.domContentLoadedEventEnd-window.performance.timing.navigationStart;
var div = document.getElementById('speed');
div.innerHTML += 'This page loaded in ' + loadTime/1000 + ' seconds &#128374;';
}

const observerOptions = {
  root: null,
  rootMargin: "0px",
  threshold: 0.05
};

function observerCallback(entries, observer) {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      // fade in observed elements that are in view
      entry.target.classList.add('fadeIn');
    } 
  });
}

const fadeElms = document.querySelectorAll('.fade');

const observer = new IntersectionObserver(observerCallback, observerOptions);
fadeElms.forEach(el => observer.observe(el));
     </script>

  </body>    
</html>
