
{{ $command := .Get "command" }}
{{ $options := .Get "options" }}


{{ $filter := images.Process "resize 1000x q75 webp" }}

{{ $image := .Scratch.Get "image" }}




<figure>
  
{{ with .Page.Resources.GetMatch (printf "*%s*" (.Get "name")) }}
{{ with . | images.Filter $filter }}
  <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
{{ end }}
{{ end }}

  <figcaption>
    {{ with .Get "imageCaption"}}
    <span id="caption">{{ . }}</span> 
    {{ end }}
    
    <span id="credit">
      {{ if .Get "imageAttrib" }}Attribution: <a href="{{ with .Get "imageURL" }}{{ . }}{{ end }}">{{ with .Get "imageAttrib" }}{{ . }}{{ end }}</a> &middot; {{ end }}
      <span id="license">
        <a href="{{ with .Get "licenseURL" }}{{ . }}{{ end }}">
          {{ with .Get "imageLicense" }}
          {{ . }}
          {{ end }}
        </a>
      </span>
    </span>

  </figcaption>

</figure>



